# Node.js dependencies
node_modules
npm-debug.log
yarn-error.log

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# Environment files
.env

# Logs
*.log

# OS-specific
.DS_Store

# VSCode
.vscode/
