# infra/docker-compose.staging.yml

services:
  web:
    image: ghcr.io/${REPO_LC}/web:${TAG_STG:-staging-latest}
    ports:
      - "8083:80"       # web (staging)
    restart: unless-stopped

  backend:
    image: ghcr.io/${REPO_LC}/backend:${TAG_STG:-staging-latest}
    ports:
      - "3002:3000"     # optional, direct backend access (staging)
    restart: unless-stopped

  prometheus:
    volumes:
      - ./prometheus/prometheus.dev.yml:/etc/prometheus/prometheus.yml:ro
    ports:
      - "9091:9090"     # Prometheus (staging)

  grafana:
    ports:
      - "3003:3000"     # Grafana (staging)
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
